/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

body {
    background-color: var(--red);
}

.main-content{
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
    background-color: var(--white);
}
.company__info{
	background-color: #000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.row > h2{
	color:#000;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fomlogreg{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}

.inputan input{
	width: 100%;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 5px;
    padding: 5px 10px;
	transition: all .5s ease;
}
.inputan input:focus{
	border-bottom-color: #000;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#000;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 1.5em;
	margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover, .btn:focus{
	background-color: #000;
	color:#fff;
}

@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}

.autocomplete-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.autocomplete-items div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:last-child {
    border-bottom: none;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* Navigation styles */
.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    color: var(--red);
    font-weight: 500;
}

.navbar-toggler {
    border: 2px solid var(--red);
}

.navbar-toggler i {
    color: var(--red);
}

.navbar .navbar-toggler:focus,
.navbar-toggler.active {
    border-color: var(--red);
}

.navbar-nav .dropdown-item {
    color: var(--red);
    font-weight: 600;
}

.navbar-nav .dropdown-item:hover {
    color: white;
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.navbar-nav .nav-link {
    color: var(--red);
    font-weight: 600;
    transition: color 0.5s ease;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white;
    background: linear-gradient(to bottom left, var(--red), var(--red));

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

.navbar-nav .nav-link .username {
    font-size: 30px;
    vertical-align: middle;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: left;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .nav-item {
        margin-bottom: 5px;

    }

    .navbar-nav {
        margin-top: 10px;
    }
}
