/*===============================================================
Detail page styles
=================================================================*/
.keranjang {
    margin-top: 80px;
    color: var(--black);
}

.keranjang .hr-keranjang {
    border-width: 2px;
    color: var(--red);
}

.keranjang .row {
    background-color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.keranjang .btn-keranjang {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--red);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.keranjang .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.keranjang .btn-hapus {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 2px 15px;
    border: 1px solid var(--red);
    border-radius: 20px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.keranjang .btn-hapus:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}
