/*===============================================================
Detail page styles
=================================================================*/
.keranjang {
    margin-top: 80px;
    color: var(--black);
}

.keranjang .btn-keranjang {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--red);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.keranjang .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.keranjang .btn-hapus {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 2px 15px;
    border: 1px solid var(--red);
    border-radius: 20px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--red);
    background: var(--white);
}

.keranjang .btn-hapus:hover {
    border-color: var(--red);
    color: var(--white);
    background: var(--red);
}

.qty-container {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}

.qty-btn-minus:hover {
    transition: transform 0.2s;
    color: var(--white);
    background: var(--red);
}

.qty-btn-plus:hover {
    transition: transform 0.2s;
    color: var(--white);
    background: var(--red);
}
