.pesanan {
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--black);
}

.pesanan .title {
    font-size: 30px;
    font-weight: 700;
    margin-left: 90px;
}

.tab {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
}

.tab .btn-tab {
    width: 250px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    font-weight: 600;
    margin-right: 5px;
    color: var(--black);
    background-color: var(--white);
    transition: all 0.5s ease-in-out;
}

.tab .btn-tab:hover {
    border-radius: 5px;
    color: var(--white);
    background-color: var(--red);
}

.tab button.active {
    color: var(--red);
    border-radius: 5px;
}

.tabcontent {
    margin-bottom: 20px;
}

.tabcontent .card {
    border: none;
    margin-top: 10px;
    background-color: var(--white);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
}

.tabcontent .card .atas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.tabcontent .card .atas .metode {
    color: var(--red);
}

.tabcontent .card img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.tabcontent .card .foto-detail h5 {
    font-weight: 600;
}

.tabcontent .card .total-harga {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.tabcontent .card .total-harga h6 {
    color: #aaaaaa;
    font-weight: 700;
}

.tabcontent .card .total-harga h5 {
    font-weight: 700;
}

.tabcontent .card .bawah {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 10px;
}

.kosong {
    height: 400px;
}

.kosong .card-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kosong .card-body .konten i {
    font-size: 50px;
    color: var(--red);
    margin-bottom: 10px;
}

.pesanan .btn-detail {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
    border: none;
    background: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--red);
}

.pesanan .btn-detail:hover {
    color: var(--black);
}

.pesanan .btn-bayar {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 40px;
    border-radius: 5px;
    border: 2px solid var(--red);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: white;
    background-color: var(--red);
}

.pesanan .btn-bayar:hover {
    color: var(--red);
    border-color: var(--red);
    background: white;
}

.tabcontent .total {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.tabcontent .total .kanan h6 {
    font-weight: 700;
}

.tabcontent .card .sub-harga {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.tabcontent .card .sub-harga h6 {
    font-weight: 700;
}
