/*===============================================================
Detail Produk page styles
=================================================================*/
.detail-produk {
    margin-top: 80px;
    color: var(--black);
}

.detail-produk .row {
    background-color: #fff;
}

.detail-produk img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-produk .title {
    color: var(--red);
}

.detail-produk .price {
    color: var(--black);
    font-style: bold;
}

.detail-produk .btn-beli {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid var(--red);
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--red);
    background: linear-gradient(to bottom left, var(--white), var(--white));
}

.detail-produk .btn-beli:hover {
    border-color: var(--red);
    color: var(--white);
    background: var(--red);
}

.detail-produk .btn-keranjang {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid var(--red);
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.detail-produk .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.detail-produk .description {
    border: 0;
    color: var(--var(--black));
    background-color: var(--white);
}

.detail-produk .description h4 {
    color: var(--black);
}

.detail-produk .description p {
    margin-bottom: 0;
    letter-spacing: 0.5px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: var(--red);
    color: #fff;
}

.radio-toolbar input[type="radio"] + label:hover {
    transition: transform 0.2s;
    color: var(--red);
    border: 1px solid var(--red);
}

/*--------------------------*/
.qty-container {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.qty-btn-minus:hover {
    transition: transform 0.2s;
    color: var(--white);
    background: var(--red);
}

.qty-btn-plus:hover {
    transition: transform 0.2s;
    color: var(--white);
    background: var(--red);
}

.button-container {
    margin-top: 100px;
}

@media (max-width: 991px) {
    .button-container {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .button-container {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .button-container {
        margin-top: 10px;
    }
}
