/*===============================================================
Home page styles
=================================================================*/

.carousel-item {
    height: 100vh;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.carousel-caption h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    text-shadow: 3px 3px 3px black;
}

.carousel-caption .btn-lihat {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid var(--black);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--white);
    background-color: var(--red);
}

.carousel-caption .btn-lihat:hover {
    border-color: var(--white);
}

/* Home Perusahaan */
.home_perusahaan {
    color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.home_perusahaan span {
    font-size: 30px;
    font-weight: 600;
}

.home_perusahaan .info-perusahaan {
    text-align: justify;
    padding-right: 20px;
    height: 100%;
}

.home_perusahaan .img-perusahaan img {
    max-width: 100%;
    height: auto;
}

/* Home Bg Produk */
.home_bgproduk img {
    width: 100%;
    height: 100vh;
}

/* Home Produk */
.home_produk {
    color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home_produk span {
    font-size: 30px;
    font-weight: 600;
}

.home_produk .single-box a {
    text-decoration: none;
    color: var(--black);
}

.home_produk .single-box img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px var(--shadow);
}

.home_produk .info-produk .produk {
    font-size: 18px;
    margin-bottom: 0;
}

.home_produk .info-produk .harga {
    font-size: 18px;
    font-weight: 700;
}

/* Home Faq */
.home_faq {
    color: var(--black);
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    background-image: url("/assets/pembeli/img/bg_faq.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.home_faq span {
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
.btn-panel {
    background-color: rgba(255, 255, 255, 0.712);
    color: #282a35;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 16px;
}
.btn-panel:hover {
    background-color: var(--white);
    color: var(--black);
}

.panel {
    padding: 0 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f3ecea;
    margin-top: -28px;
    color: var(--black);
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
}

.panel,
.btn-panel {
    margin-bottom: 2rem;
}

.paragraf {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.hilang {
    display: none;
}

.muncul {
    border-radius: 10px 10px 0px 0px;
    background-color: var(--white);
}

/* Home Kontak */
.home_kontak {
    color: var(--black);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.info-kontak {
    margin-bottom: 40px;
}

.info-kontak span {
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
}

.info-kontak p {
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
}

.home_kontak .input-kecil,
.input-besar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.home_kontak .input-besar {
    height: 150px;
    resize: vertical;
}

.home_kontak .btn-kirim {
    font-size: 16px;
    padding: 5px 40px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--red);
}

.home_kontak .btn-kirim:hover {
    border-color: var(--white);
}

/* Button Whatsapp */
.btn-wa {
    position: fixed;
    right: 0;
    bottom: 30px;
    z-index: 999;
}

.btn-wa .btn-wa-button {
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    transition: all 300ms;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.btn-wa .btn-wa-button i {
    width: 70px;
    height: 70px;
    padding: 20px;
    color: white;
    background-color: #25d366;
    font-size: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-wa .btn-wa-button:hover {
    transition: all 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 440px;
    background-color: #25d366;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.btn-wa .btn-wa-button .long-text {
    opacity: 0;
    color: white;
    white-space: nowrap;
    font-size: 0;
    width: 0;
    margin: 0;
}

.btn-wa .btn-wa-button:hover .long-text {
    opacity: 1;
    margin-left: 5px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption .btn-beli {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption .btn-beli {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption h2 {
        font-size: 18px;
    }

    .carousel-caption .btn-beli {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption h2 {
        font-size: 16px;
    }

    .carousel-caption .btn-beli {
        font-size: 14px;
    }
}
