@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: var(--black);
    background-image: url("/assets/pembeli/img/bg_auth.png");
    /* filter: blur(5px); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.konten_login{
	width: 40%;
	border-radius: 5px;
	margin: 5em auto;
    padding: 40px;
	display: flex;
    background-color: var(--white);
}

.konten_register{
	width: 60%;
	border-radius: 5px;
	margin: 5em auto;
    padding: 40px;
	display: flex;
    background-color: var(--white);
}

.judul{
    font-weight: 800;
}

.inputan input{
	width: 100%;
	border: 1px solid rgb(167, 167, 167);
	border-radius: 5px;
    padding: 5px 10px;
	transition: all .5s ease;
}

.inputan input:focus{
	border: 1px solid var(--red);
	border-radius: 4px;
}

.btn{
	transition: all .5s ease;
	width: 100%;
	border-radius: 5px;
	color:var(--white);
	font-weight: 600;
	background-color: var(--red);
	border: 1px solid var(--red);
    margin-left: auto;
    margin-right: auto;
}
.btn:hover, .btn:focus{
    background-color: var(--white);
    border: 1px solid var(--red);
	color: var(--red);
}

.btn-daflog{
    color: var(--red);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 640px) {
	.konten_login{
        width: 100%;
        padding: 10px;;
    }
}
@media screen and (min-width: 642px) and (max-width:800px){
	.konten_login{
        width: 100%;
    }
}

/* Navigation styles */
.navbar {
    background-color: #ffffff;
}

.navbar-brand{
    color: var(--red);
    font-weight: 500;
}

.navbar-toggler {
    border: 2px solid var(--red);
}

.navbar-toggler i {
    color: var(--red);
}

.navbar .navbar-toggler:focus,
.navbar-toggler.active {
    border-color: var(--red);
}

.navbar-nav .dropdown-item {
    color: var(--red);
    font-weight: 600;
}

.navbar-nav .dropdown-item:hover {
    color: white;
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.navbar-nav .nav-link {
    color: var(--red);
    font-weight: 600;
    transition: color 0.5s ease;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white;
    background: linear-gradient(to bottom left, var(--red), var(--red));

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

.navbar-nav .nav-link .username {
    font-size: 30px;
    vertical-align: middle;
}

.navbar-nav {
    display: flex;
    justify-konten: center;
    align-items: left;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .nav-item {
        margin-bottom: 5px;

    }

    .navbar-nav {
        margin-top: 10px;
    }
}
