/*===============================================================
Detail Produk page styles
=================================================================*/
.detail-produk {
    margin-top: 80px;
    color: var(--black);
}

.detail-produk .hr-detail {
    border-width: 2px;
    color: var(--red);
}

.detail-produk .row {
    background-color: #fff;
    border-radius: 5px;
}

.detail-produk .card {
    color: var(--red);
    padding: 25px;
    border-radius: 10px;
    border: 0;
}

.detail-produk .card img {
    border-radius: 10px;
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.detail-produk .title {
    color: var(--black);
    font-weight: 700;
}

.detail-produk .price {
    color: var(--red);
    font-style: bold;
    background-color: #f5f5f5;
}

.detail-produk .rating {
    color: var(--pink);
}

.detail-produk .card-body h3 {
    color: var(--black);
    font-weight: 700;
}

.detail-produk .card-body h4 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.detail-produk .btn-keranjang {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--red);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--red);
    background: linear-gradient(to bottom left, var(--white), var(--white));
}

.detail-produk .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--white);
    background: var(--red);
}

.detail-produk .btn-beli {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--red);
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.detail-produk .btn-beli:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.detail-produk .description {
    border: 0;
    border-radius: 10px;
    color: var(--var(--black));
    background-color: var(--white);
}

.detail-produk .description h4 {
    color: var(--black);
    font-weight: 700;
}

.detail-produk .description p {
    margin-bottom: 0;
    letter-spacing: 0.5px;
}
