/*===============================================================
Detail page styles
=================================================================*/
.keranjang {
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--black);
}

.keranjang .title {
    font-size: 30px;
    font-weight: 700;
    margin-left: 90px;
}

.keranjang .tabel {
    width: 100%;
    border-collapse: collapse;
}

.keranjang .tabel tbody td {
    padding-bottom: 10px;
}

.keranjang .tabel tfoot td {
    padding-bottom: 10px;
}

.keranjang .tabel-isi {
    padding: 15px;
    background-color: var(--white);
}

.keranjang .tabel-isi .foto-detail {
    margin: 0;
}

.keranjang .tabel-isi .foto img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.keranjang-bawah {
    background-color: var(--white);
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.keranjang .btn-keranjang {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid var(--red);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--white);
    background: linear-gradient(to bottom left, var(--red), var(--red));
}

.keranjang .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.qty-container-keranjang {
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

.qty-container-keranjang .input-qty {
    text-align: center;
    padding: 6px 8px;
    border-top: 2px solid #a8a8a8;
    border-bottom: 2px solid #a8a8a8;
    border-right: none;
    border-left: none;
    max-width: 40px;
    max-height: 30px;
}

.qty-container-keranjang .qty-btn-minus {
    border-top: 2px solid #a8a8a8;
    border-bottom: 2px solid #a8a8a8;
    border-left: 2px solid #a8a8a8;
    border-right: none;
    padding: 6px 8px;
    font-size: 10px;
    background-color: var(--white);
    height: 30px;
    width: 30px;
    transition: 0.3s;
}

.qty-container-keranjang .qty-btn-plus {
    border-top: 2px solid #a8a8a8;
    border-bottom: 2px solid #a8a8a8;
    border-right: 2px solid #a8a8a8;
    border-left: none;
    padding: 6px 8px;
    font-size: 10px;
    background-color: var(--white);
    height: 30px;
    width: 30px;
    transition: 0.3s;
}

.qty-container-keranjang .qty-btn-plus {
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.qty-container-keranjang .qty-btn-minus {
    margin-right: -1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.qty-btn-minus:hover {
    transition: transform 0.2s;
    color: var(--red);
}

.qty-btn-plus:hover {
    transition: transform 0.2s;
    color: var(--red);
}

.hidden {
    display: none;
}
