@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    margin: 0;
}

/* Header styles */
.btn-notif {
    border: 1px solid #ce3abd;
    background-color: #fff;
    color: #b500a0;
}

.btn-notif:hover {
    background-color: #ce3abd;
    color: #fff;
}

/* Navigation styles */
.navbar {
    transition: background-color 0.3s ease;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.scrolled {
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: var(--red);
    font-weight: 500;
}

.navbar-toggler {
    border: 2px solid var(--red);
}

.navbar-toggler i {
    color: var(--red);
}

.navbar .navbar-toggler:focus,
.navbar-toggler.active {
    border-color: var(--red);
}

.navbar-nav .dropdown-item {
    color: var(--black);
    font-weight: 600;
}

.navbar-nav .dropdown-item:hover {
    color: white;
    background-color: var(--black);
}

.navbar-nav .nav-link {
    color: var(--white);
    font-weight: 600;
    transition: color 0.5s ease;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--red);
}

.navbar-nav .nav-link .username {
    font-size: 42px;
    vertical-align: middle;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: left;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 4px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .nav-item {
        margin-bottom: 5px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}

/* Footer styles */
.footer {
    width: 100%;
    height: auto;
    min-height: auto;
    color: white;
    font-size: 16px;
    background-color: var(--abu);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.footer .footer-top {
    padding-bottom: 40px;
}

.footer .footer-top .footer-logo {
    text-align: start;
}

.footer .footer-top .footer-logo img {
    width: 100%;
    max-width: 100px;
    margin-left: 6px;
}

.footer .footer-top .social-links {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.footer .footer-top .social-links a {
    color: var(--white);
    font-size: 20px;
    transition: 0.3s;
    margin: 0 5px;
}

.footer .footer-top .social-links a:hover {
    color: var(--red);
}

.footer .footer-top .footer-lokasi {
    text-align: start;
}

.footer .footer-top .footer-lokasi h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer .footer-top .footer-lokasi span {
    font-size: 14px;
    font-weight: 200;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
    text-align: start;
}

.footer .footer-top .footer-links h4 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 400;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
}

.footer .footer-top .footer-links ul li {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    text-decoration: none;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--red);
}

.footer .copyright {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

.footer .copyright p {
    font-weight: 300;
    margin: 0; /* Menghapus margin default */
}

@media (max-width: 768px) {
    .footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .footer .copyright p {
        margin-bottom: 0;
    }

    .footer .social-links a {
        margin-top: 0;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--red);
}
