/*===============================================================
Detail Produk page styles
=================================================================*/
.detail-produk {
    margin-top: 100px;
    margin-bottom: 50px;
    color: var(--black);
}

.detail-produk .row {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
}

.detail-produk .foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}

.detail-produk img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.detail-produk .form-produk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-produk .title {
    color: var(--red);
    font-weight: 400;
}

.judul_description {
    color: var(--red);
    font-style: italic;
}

.title_description {
    color: var(--black);
    font-weight: 600;
}

.detail-produk .price {
    color: var(--black);
    font-style: bold;
}

#form_produk_detail .luar {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.radio-produk input[type="radio"] {
    display: none;
}

.radio-produk label {
    margin-top: 5px;
    font-weight: 700;
    display: inline-block;
    border: 2px solid var(--black);
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
}

.radio-produk input[type="radio"]:checked + label {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: #fff;
}

.radio-produk input[type="radio"] + label:hover {
    transition: transform 0.2s;
    color: var(--red);
    border: 2px solid var(--red);
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.qty-container .input-qty {
    border: 2px solid #8a8a8a;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 6px 10px;
    width: 50px;
    height: 35px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    font-size: 15px;
    color: #8a8a8a;
    background-color: var(--white);
    height: 35px;
    width: 35px;
    border: 2px solid #8a8a8a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.qty-container .qty-btn-minus {
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.qty-container .qty-btn-plus {
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.qty-btn-minus:hover,
.qty-btn-plus:hover {
    color: var(--red);
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.detail-produk .btn-beli {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 45px;
    border: 2px solid var(--red);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--red);
    background-color: var(--white);
}

.detail-produk .btn-beli:hover {
    border-color: var(--red);
    color: var(--white);
    background: var(--red);
}

.detail-produk .btn-keranjang {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 45px;
    border: 1px solid var(--red);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: var(--white);
    background-color: var(--red);
}

.detail-produk .btn-keranjang:hover {
    border-color: var(--red);
    color: var(--red);
    background: var(--white);
}

.detail-produk .description {
    border: 0;
    color: var(--var(--black));
    background-color: var(--white);
}

.detail-produk .description h4 {
    color: var(--black);
}

.detail-produk .description p {
    margin-bottom: 0;
    letter-spacing: 0.5px;
}

@media (max-width: 991px) {
    .button-container {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .button-container {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .button-container {
        margin-top: 10px;
    }
}
