/*===============================================================
Detail Produk page styles
=================================================================*/

.pemesanan {
    color: var(--black);
    margin-top: 100px;
}

.pemesanan .konten {
    background-color: var(--white);
}

.pemesanan .konten .card {
    width: 100%;
}
